<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>修改用户信息</title>
    <link rel="stylesheet" th:href="@{/webjars/layui/2.3.0/css/layui.css}">
</head>
<body>

<div class="layui-body" style="padding-top: 50px">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">账号：</label>
                <div class="layui-input-inline">
                    <input hidden type="text" id="userid" value="${user.userid}" />
                    <input type="text" name="username" id="username" readonly autocomplete="off" class="layui-input" value="${user.username}">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">密码：</label>
                <div class="layui-input-inline">
                    <input type="text" name="password" id="password" required  lay-verify="required" autocomplete="off" class="layui-input" value="${user.password}" />
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">角色：</label>
                <div class="layui-input-inline">
                    <select id="roleid" name="rolename" lay-filter="aihao" required  lay-verify="required">
                        <option value=""></option>
                            <option value="${role.roleid}">名字</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">修改</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
    <div style="padding: 15px;">
        <table class="layui-hide" align="center" id="test"></table>
    </div>
</div>
</body>

<script th:src="@{/webjars/layui/2.3.0/layui.js}"></script>
<script>
    //Demo
    layui.use(['form','layer'], function(){
        var form = layui.form;
        var layer = layui.layer;
        var $ = layui.$;

        //监听提交
        form.on('submit(formDemo)', function(data){
            $.ajax({
                url:"/updateUser.action",
                type:"post",
                data:{
                    "userid":$("#userid").val()
                    ,"username":$("#username").val()
                    ,"password":$("#password").val()
                    ,"roleid":$("#roleid").val()
                    ,"userdescription":$("#userdescription").val()
                },
                async:true,
                success:function(data){
                    if(data == 1){
                        var index = parent.layer.getFrameIndex(window.name)
                        layer.alert("成功",{title:"修改成功"});
                        parent.layer.close(index);
                        parent.layui.table.reload("list");
                    }else{
                        layer.alert("失败",{title:"修改失败"})
                        $("#username").val("");
                        $("#username").focus();
                    }
                },
                error:function(){
                    alert("系统异常");
                }
            })
            return false;
        });
    });
</script>
</html>