<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Search cars</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script>
<script th:src="@{/static/js/bootstrap.js}"></script>
<script type="text/javascript" th:src="@{/static/js/jquery-ui.js}"></script>
<!-- //for-mobile-apps -->
<link th:href="@{/static/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" type="text/css" th:href="@{/static/css/zoomslider.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/static/css/component.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/static/css/jquery-ui1.css}">
			<link th:href="@{/static/css/font-awesome.min.css}" rel="stylesheet" type="text/css" media="all" />

<script type="text/javascript" th:src="@{/static/js/modernizr-2.6.2.min.js}"></script>
<!--/web-fonts-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,600italic,300,300italic,700,400italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Wallpoet' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700,300' rel='stylesheet' type='text/css'>
<!--//web-fonts-->
</head>
<body>
<!--/banner-section-->
	<div id="demo-1" class="banner-inner">
	 <div class="banner-inner-dott">
       <div class="header-top">
		    <!-- /header-left -->
		          <div class="header-left">
				  <!-- /sidebar -->
				        <div id="sidebar">
						     <h4 class="menu">Menu</h4>
						          <ul>
							    <li><a href="upcoming.html">New Cars <i class="glyphicon glyphicon-triangle-bottom"> </i> </a>
							      <ul>
									  <li><a href="find.html"><span>Find New Cars</span></a></li>
									  <li><a href="upcoming.html"><span>Upcoming Cars</span></a></li>
									  <li><a href="recommend.html"><span>Recommend Me A Car</span></a></li>
									  <li><a href="upcoming.html"><span>New Launches</span></a></li>
									  <li><a href="dealer.html"><span>Locate Dealer</span></a></li>
									  <li class="last"><a href="price.html"><span>On Road Price</span></a></li>
								   </ul>
							   </li>
							    <li><a href="compare.html">Compare Cars</a></li>
							    <li><a href="cars.html">Used Cars <i class="glyphicon glyphicon-triangle-bottom"> </i></a>
							      <ul>
								  <li><a href="used.html">Find Used cars</a></li>
									 <li><a href="sell.html">Sell Your Car</a></li>
									 <li><a href="cars.html"><span>Search Used Cars</span></a></li>
									 <li class="last"><a href="valuation.html"><span>Used Car Valuation</span></a></li>
									 <li><a href="dealer.html"><span>Locate Dealer</span></a></li>

								  </ul>
							   </li>
							   <li><a href="sell.html">Sell Your Car</a></li>
							   <li><a href="news.html">News And Reviews</a></li>
							   <li><a href="dealer.html">Dealers And Services</a></li>
							   <li><a href="#">More <i class="glyphicon glyphicon-triangle-bottom"> </i> </a>
							      <ul>
									  <li><a href="loan.html"><span>Car Loan</span></a></li>
									  <li><a href="codes.html"><span>Short Codes</span></a></li>
									  <li><a href="accessories.html"><span>Car Accessories</span></a></li>
									  <li><a href="tips.html"><span>Tips and Advices</span></a></li>
									  <li class="last"><a href="help.html"><span>Privacy Policy</span></a></li>

								 </ul>
							   </li>
							   <li><a href="insurance.html">Insurance</a></li>
							 <li><a href="app.html">Catchy Carz app</a><li>
						   </ul>
						   <div id="sidebar-btn">
							   <span></span>
							   <span></span>
							   <span></span>
						   </div>
					   </div>

						<script>
								  var sidebarbtn = document.getElementById('sidebar-btn');
									var sidebar = document.getElementById('sidebar');
								   sidebarbtn.addEventListener('click', function () {
								  if(sidebar.classList.contains('visible')){
										sidebar.classList.remove('visible');
								   }else {
										sidebar.className = 'visible';
									}
								  });
								</script>
					    <!-- //sidebar -->
					  <div class="tag"><a href="#" data-toggle="modal" data-target="#myModal1"><span class="glyphicon glyphicon-tag"></span> Discounts On New Cars » </a></div>
					  <div class="tag"><a href="#" data-toggle="modal" data-target="#myModal2"><span class="glyphicon glyphicon-log-in"></span> Sign Up</a></div>
					</div>
				  <!-- //header-left -->
		             <div class="search-box">
						<div id="sb-search" class="sb-search">
							<form action="#" method="post">
								<input name="search" class="sb-search-input" placeholder="Enter your search term..." type="search" id="search">
								<input class="sb-search-submit" type="submit" value="">
								<span class="sb-icon-search"> </span>
							</form>
						</div>
						<!-- search-scripts -->
						<script th:src="@{/static/js/classie.js}"></script>
						<script th:src="@{/static/js/uisearch.js}"></script>
							<script>
								new UISearch( document.getElementById( 'sb-search' ) );
							</script>
						<!-- //search-scripts -->
					    <ul>

							<li>
							<a href="#" data-toggle="modal" data-target="#myModal4"><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Select Your Location</a></li>

							<li><button id="showRight" class="navig">Login </button>
							 <div class="cbp-spmenu-push">
							<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
								<h3>Login</h3>
							<div class="login-inner">
								<div class="login-top">
								 <form action="#" method="post">
									<input type="text" name="email" class="email" placeholder="Email" required=""/>
									<input type="password" name="password" class="password" placeholder="Password" required=""/>
									<input type="checkbox" id="brand" value="">
									<label for="brand"><span></span> Remember me</label>
								</form>
								<div class="login-bottom">
									<ul>
										<li>
											<a href="#">Forgot password?</a>
										</li>
										<li>
											<form action="#" method="post">
												<input type="submit" value="登录"/>
											</form>
										</li>
									</ul>
									<div class="clearfix"></div>
								</div>
								<div class="clearfix"></div>

							</div>
							<div class="social-icons">
							<ul>
								<li><a href="#"><span class="icons"></span><span class="text">Facebook</span></a></li>
								<li class="twt"><a href="#"><span class="icons"></span><span class="text">Twitter</span></a></li>
								<li class="ggp"><a href="#"><span class="icons"></span><span class="text">Google+</span></a></li>
							</ul>
						</div>
							</div>
							</nav>
						</div>
					<script th:src="@{/static/js/classie2.js}"></script>
						<script>
							var menuRight = document.getElementById( 'cbp-spmenu-s2' ),
								showRight = document.getElementById( 'showRight' ),
								body = document.body;

							showRight.onclick = function() {
								classie.toggle( this, 'active' );
								classie.toggle( menuRight, 'cbp-spmenu-open' );
								disableOther( 'showRight' );
							};

							function disableOther( button ) {
								if( button !== 'showRight' ) {
									classie.toggle( showRight, 'disabled' );
								}
							}
						</script>
						<!--Navigation from Right To Left-->
						    </li>
						</ul>

					</div>


					</div>
					<div class="clearfix"></div>
		    <!--banner-info-->
			<div class="banner-info">
			  <h1><a href="index.html">Catchy <span class="logo-sub">Carz</span> </a></h1>
			    <h2><span>COME LOOK </span> <span>AT THE SELECTION! </span></h2>
				<p>Eye it – try it – buy it!</p>

			</div>
		<!--//banner-info-->
		</div>
	 </div>
<!-- discounts-->
			<div class="modal ab fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog about" role="document">
					<div class="modal-content about">
						<div class="modal-header">
							<button type="button" class="close ab" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<div class="discount">
									<h3>Get Offers & Discount of</h3>
									<p>Catchy Carz Brand VL in New York</p>
										<form action="#" method="post">
											<select id="country5" onchange="change_country(this.value)" class="frm-field required">
												<option selected="selected" value="-1">-Buying Time Period-</option>
												<option value="0">Just Researching</option>
												<option value="7">1 Week</option>
												<option value="14">2 Weeks</option>
												<option value="30">1 Month</option>
												<option value="60">2 Months</option>
											</select>
											<input type="text" class="Pin code" placeholder="Pin code" required="">
										</form>
								</div>
						</div>
						 <div class="modal-body about">

								<div class="dis-contact">
								  <h4>Contact Information</h4>
												<form action="#" method="post">
													<input type="text" name="name" class="name active" placeholder="Name" required="">
													<input type="text" name="email" class="email" placeholder="Email" required="">
													<input type="text" name="phone" class="phone" placeholder="Phone" required="">
													<div class="d-c">
														<span class="checkbox1">
															<label class="checkbox"><input type="checkbox" name="" checked=""><i> </i>I agree to Terms and Conditions.</label>
														</span>

													</div>
													<input type="submit" value="Find Offers">

													</form>
								</div>
						 </div>
					</div>
				</div>
			</div>
			<!-- //discounts-->
				<!-- //sign-up-->
				<div class="modal ab fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog sign" role="document">
					<div class="modal-content about">
						<div class="modal-header one">
							<button type="button" class="close sg" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<div class="discount one">
									<h3>Sign Up</h3>

								</div>
						</div>
						 <div class="modal-body about">
								<div class="login-top sign-top one">
							 <form action="#" method="post">
									<input type="text" name="name" class="name active" placeholder="Your Name" required="">
									<input type="text" name="email" class="email" placeholder="Email" required="">
									<input type="password" name="password" class="password" placeholder="Password" required="">
									<input type="checkbox" id="brand1" value="">
									<label for="brand1"><span></span> Remember me</label>
									<div class="login-bottom one">
									<ul>
										<li>
											<a href="#">Forgot password?</a>
										</li>
										<li>

										  <input type="submit" value="SIGN UP">

										</li>
									<div class="clearfix"></div>
								</ul>
								</div>
								</form>
							</div>


						 </div>
						 <div class="social-icons">
									<ul>
										<li><a href="#"><span class="icons"></span><span class="text">Facebook</span></a></li>
										<li class="twt"><a href="#"><span class="icons"></span><span class="text">Twitter</span></a></li>
										<li class="ggp"><a href="#"><span class="icons"></span><span class="text">Google+</span></a></li>
									</ul>
									</div>

					</div>
				</div>
			</div>
			<!-- //sign-up-->
				<!-- /location-->
				<div class="modal ab fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog sign" role="document">
					<div class="modal-content about">
						<div class="modal-header one">
							<button type="button" class="close sg" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<div class="discount one">
									<h3>Please Tell Us Your City</h3>

								</div>
						</div>
						 <div class="modal-body about">
								<div class="login-top sign-top location">
								 <form action="#" method="post">
				                      <select id="country12" onchange="change_country(this.value)" class="frm-field required">
														<option value="null"> Select City</option>
														<option value="city">Amsterdam</option>
														<option value="city">Bahrain</option>
														<option value="city">Cannes</option>
														<option value="city">Dublin</option>
														<option value="city">Edinburgh</option>
														<option value="city">Florence</option>
														<option value="city">Georgia</option>
														<option value="city">Hungary</option>
														<option value="city">Hong Kong</option>
														<option value="city">Johannesburg</option>
														<option value="city">Kiev</option>
														<option value="city">London</option>
													    <option value="city">Others...</option>
										</select>
								</form>
							     </div>


						 </div>


					</div>
				</div>
			</div>
			<!-- //location-->
			<!-- /get-->
				<div class="modal ab fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog sign" role="document">
					<div class="modal-content about">
						<div class="modal-header one">
							<button type="button" class="close sg" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<div class="discount one">
									<h3>Make car insurance buying easier</h3>

								</div>
						</div>
						 <div class="modal-body about">
								<div class="login-top sign-top get">
								  <ul class="car-insurance">
								       <li><i class="fa fa-signal" aria-hidden="true"></i><h6> Zero <br> Depreciation</h6></li>
									   <li><i class="fa fa-truck" aria-hidden="true"></i><h6> Road-side <br> assistance</h6></li>
									   <li><i class="fa fa-gavel" aria-hidden="true"></i><h6> Hydro-static <br> cover-lock</h6></li>
								     </ul>
							     <form action="#" method="post">

									<input type="text" name="email" class="email" placeholder="Email" required="">
									<input type="password" name="password" class="password" placeholder="Password" required="">
									<input type="submit" value="Submit">
								 </form>
								</div>

							</div>


						 </div>

					</div>
				</div>
			</div>
			<!-- //get-->
		<!-- /search-car-->
				<!-- /location-->
				<div class="modal ab fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog sign" role="document">
					<div class="modal-content about">
						<div class="modal-header one">
							<button type="button" class="close sg" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<div class="discount one">
									<h3>详细信息</h3>

								</div>
						</div>
						 <div class="modal-body about">
								<div id="showCar" class="login-top cars sign-top one">
		                            <h4>FORD MUSTANG</h4>
								   <h5>$36000</h5>

			                        <img th:src="@{/static/images/4.jpg}" alt="Catchy Carz">
									<div class="car-form-pop">
										<p>价格： <span th:name="price">$36000</span></p>
										<p>品牌： <span th:name="brand">奔驰</span></p>
										<p>类型： <span th:name="type">跑车</span></p>
										<p>上架时间： <span th:name="time">2012-01-28</span></p>
										<form action="#" method="post">

										<div class="send-button">
											<input type="submit" value="购买">
										</div>
									</form>
									</div>
							    </div>


						 </div>


					</div>
				</div>
			</div>
			<!-- //location-->
			<!-- //search-car-->
		<!--//banner-section-->
				<!--/breadcrumb-->
		    <div class="service-breadcrumb">
				<div class="container">
					<div class="wthree_service_breadcrumb_left">
						<ul>
							<li><a href="index.html">Home</a> <i>|</i></li>
							<li>Search Cars</li>
						</ul>
					</div>
					<div class="wthree_service_breadcrumb_right">
						<h3>Search Cars</h3>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		<!--//breadcrumb-->
		   <!--/search-car -->
		<div class="search-car w3l">
			<div class="container">
			    <!--/search-car-inner -->
					<div class="search-car-inner w3l">
					<!--/search-car-left-nav -->
						<div class="col-md-3 search-car-left-sidebar" id="interval">
						   <section class="sky-form">
							   <h4>价格区间</h4>
							 <div class="range">

								<ul class="dropdown-menu6">
									<li>

										<div id="slider-range"></div>
											<input type="text" id="amount" style="border: 0; color: #ffffff; font-weight: normal;" />
									</li>
									</ul>


								</div>
								 </section>
										<div class="w_nav1 two">
										<h4>选择预算</h4>
											<select id="country11" name="pricemax" class="frm-field required">
												<option value=""><img th:src="@{/static/images/rupee.png}" alt=" " class="img-responsive" /> 预算</option>
												<option value="10000">10,000</option>
												<option value="20000">20,000</option>
												<option value="30000">30,000</option>
												<option value="40000">40,000</option>
												<option value="50000">50,000</option>
												<option value="60000">60,000</option>
												<option value="80000">80,000</option>
												<option value="100000">100,000</option>
												<option value="150000">150,000</option>
												<option value="200000">200,000</option>
												<option value="300000">300,000</option>
												<option value="400000">400,000</option>
												<option value="500000">500,000</option>
												<option value="">∞</option>
											</select>
									</div>

									<h3>其他条件</h3>
									<section class="sky-form">
												<h4>汽车品牌</h4>
													<div class="scrollbar" id="findBrand">

												      <div class="form-inner">
														    <label class="radio"><input type="radio" th:text="全部" th:attr="checked=${carPictureTypeBrandVO.getCar().getBrand()==null?true:false}" th:name="brandId" value=""><i></i></label>
															<label class="radio" th:each="brand:${brands}"><input type="radio" th:text="${brand.getName()}" th:attr="checked=${carPictureTypeBrandVO.getCar().getBrand()==brand.getId()?true:false}" th:name="brandId" th:value="${brand.getId()}"><i></i></label>
														</div>
												    </div>

									 </section>
									<section class="sky-form">
												<h4>汽车类型</h4>
													<div class="scrollbar" id="findType">

												        <div class="form-inner">
															<label class="radio"><input type="radio" th:text="全部" th:attr="checked=${carPictureTypeBrandVO.getCar().getType()==null?true:false}" th:name="typeId" value=""><i></i></label>
															<label class="radio" th:each="type:${types}"><input type="radio" th:text="${type.getName()}" name="typeId" th:value="${type.getId()}"><i></i></label>
														</div>
													</div>


									</section>
									<script type="text/javascript">
                                        $(document).ready(function () {
											$("#interval input").change(function () {
                                                pageutil(0);
                                            })
											$("#country11").change(function () {
                                                pageutil(0);
                                            })
                                        })
									</script>

								<!---->
						</div>
						<!--//search-car-left-nav -->
						<!--/search-car-right-text -->
						<div class="col-md-9 search-car-right-text w3">
							<div class="well well-sm">
								<strong>Display</strong>
								<div class="btn-group">
									<a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
									</span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm two"><span
										class="glyphicon glyphicon-th"></span>Grid</a>
								</div>
							</div>
							<div id="products" class="row list-group">
								<!-- 循环 -->
								<!--<div class="item  col-xs-4 col-lg-4" th:each="carPictureTypeVO:${carPictureTypeVOs}">-->
									<!--<div class="thumbnail">-->
										 <!--<a href="#" data-toggle="modal" th:onclick="|showCar(${carPictureTypeVO.getCar().getId()})|" data-target="#myModal6"><img class="group list-group-image" th:src="@{${carPictureTypeVO.getPicture().getUrl()}}" th:alt="${carPictureTypeVO.getCar().getName()}"></a>-->
		                                       <!--<div class="table-text">-->
                                                                <!--<h4 ><span class="spancarname" th:text="${carPictureTypeVO.getCar().getName()}" /></h4>-->
                                                                <!--<p class="gridViewPrice hide">-->
                                                                        <!--<span class="rupee-lac" th:text="|$ ${carPictureTypeVO.getCar().getPrice()}|" />-->
                                                                <!--</p>-->
                                                                <!--<div class="other-details">-->
                                                                      <!--<span class="rupee-lac slprice" th:text="|$ ${carPictureTypeVO.getCar().getPrice()}|" />-->
																<!--<div class="clearfix"></div>-->
                                                                        <!--<p class="listing-item-kms"><span th:text="${#dates.format(carPictureTypeVO.getCar().getReleasetime(), 'yyyy-MM-dd')}" /></p>-->
                                                                        <!--<p class="listing-item-area"><span class="cityname" th:text="${carPictureTypeVO.getBrand().getName()}" /></p>-->
                                                                        <!--<p class="text-light-grey deliverytext"></p>-->
                                                                <!--</div>-->

                                                               <!--<div class="clearfix"></div>-->
                                                                <!--<div class="list-form">-->
                                                                    <!--<div class="phone-info">-->
																	   <!--<form action="used_cars.html" method="post">-->
																	     <!--<input type="text" class="phone" placeholder="Phone" required="">-->
																	   <!--</form>-->
																	<!--</div>-->
																	<!--<div class="get-one"><a href="used_cars.html">  购 买  </a><a href="used_cars.html"></a></div>-->
                                                                    <!--<div class="clearfix"></div>-->
                                                                <!--</div>-->
                                                           		<!--</div>-->

									<!--</div>-->

								<!--</div>-->


							</div>
							<nav><ul class="pagination" id="lim"></ul></nav>
						 </div>

						<!--//search-car-right-text -->
						<div class="clearfix"></div>
					</div>
				 <!--//search-car-inner -->
			</div>
		</div>

<script type="text/javascript">
	// 展示车的详细信息
	function showCar(id) {
		$.ajax({
			url:"/user/findCarId",
			method:"get",
			async:false,
			data:"id="+id,
			success:function (data) {
				$("#showCar h4").text(data.car.name);
				$("#showCar h5").text('$ '+data.car.price);
				$("#showCar img").attr("src", data.picture.url);
				$("#showCar div[class=car-form-pop] span[name=price]").text('$ '+data.car.price);
				$("#showCar div[class=car-form-pop] span[name=brand]").text(data.brand.name);
				$("#showCar div[class=car-form-pop] span[name=type]").text(data.type.name);
				$("#showCar div[class=car-form-pop] span[name=time]").text(data.car.releasetime);
			},
			error:function () {
				alert("系统异常");
			}
		})
	}
</script>
		 <!--//search-car -->
	<!-- footer -->
	<div class="footer w3-agile">
		<div class="container">
			<div class="footer-grids">
				<div class="col-md-3 footer-grid">
					<h3>About Us</h3>
					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse.<span>Excepteur sint occaecat cupidatat
						non proident, sunt in culpa qui officia deserunt mollit.</span></p>
				</div>
				<div class="col-md-3 footer-grid">
					<h3>Contact Info</h3>
					<ul>
						<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>1234k Avenue, 4th block, <span>New York City.</span></li>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 567</li>
					</ul>
				</div>
				<div class="col-md-3 footer-grid">
					<h3>Flickr Posts</h3>
					<div class="footer-grid-left">
						<a href="single.html"><img th:src="@{/static/images/13.jpg}" alt=" " class="img-responsive" /></a>
					</div>
					<div class="footer-grid-left">
						<a href="single.html"><img th:src="@{/static/images/14.jpg}" alt=" " class="img-responsive" /></a>
					</div>
					<div class="footer-grid-left">
						<a href="single.html"><img th:src="@{/static/images/15.jpg}" alt=" " class="img-responsive" /></a>
					</div>
					<div class="footer-grid-left">
						<a href="single.html"><img th:src="@{/static/images/16.jpg}" alt=" " class="img-responsive" /></a>
					</div>
					<div class="footer-grid-left">
						<a href="single.html"><img th:src="@{/static/images/13.jpg}" alt=" " class="img-responsive" /></a>
					</div>
					<div class="footer-grid-left">
						<a href="single.html"><img th:src="@{/static/images/14.jpg}" alt=" " class="img-responsive" /></a>
					</div>
					<div class="footer-grid-left">
						<a href="single.html"><img th:src="@{/static/images/15.jpg}" alt=" " class="img-responsive" /></a>
					</div>
					<div class="footer-grid-left">
						<a href="single.html"><img th:src="@{/static/images/16.jpg}" alt=" " class="img-responsive" /></a>
					</div>
					<div class="footer-grid-left">
						<a href="single.html"><img th:src="@{/static/images/13.jpg}" alt=" " class="img-responsive" /></a>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-3 footer-grid">
					<h3>Blog Posts</h3>
					<div class="footer-grid-sub-grids">
						<div class="footer-grid-sub-grid-left">
							<a href="single.html"><img th:src="@{/static/images/11.jpg}" alt=" " class="img-responsive" /></a>
						</div>
						<div class="footer-grid-sub-grid-right">
							<h4><a href="single.html">culpa qui officia deserunt</a></h4>
							<p>Posted On 25/3/2016</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="footer-grid-sub-grids">
						<div class="footer-grid-sub-grid-left">
							<a href="single.html"><img th:src="@{/static/images/10.jpg}" alt=" " class="img-responsive" /></a>
						</div>
						<div class="footer-grid-sub-grid-right">
							<h4><a href="single.html">Quis autem vel eum iure</a></h4>
							<p>Posted On 25/4/2016</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="footer-grid-sub-grids">
						<div class="footer-grid-sub-grid-left">
							<a href="single.html"><img th:src="@{/static/images/15.jpg}" alt=" " class="img-responsive" /></a>
						</div>
						<div class="footer-grid-sub-grid-right">
							<h4><a href="single.html">Quis autem vel eum iure</a></h4>
							<p>Posted On 25/5/2016</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="footer-logo animated wow slideInUp" data-wow-delay=".5s">
				<h2><a href="index.html">Catchy Carz <span>Eye it – try it – buy it!</span></a></h2>
			</div>
			<div class="copy-right animated wow slideInUp" data-wow-delay=".5s">
				<p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
			</div>
		</div>
	</div>

							<script type='text/javascript'>//<![CDATA[
							$(window).load(function(){
							 $( "#slider-range" ).slider({
										range: true,
										min: 0,
										max: 200000,
										values: [ 5000, 100000 ],
										slide: function( event, ui ) {  $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
										}
							 });
							$( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) + " - $" + $( "#slider-range" ).slider( "values", 1 ) );

							});
							</script>
<script th:inline="javascript">
  $(document).ready(function() {
  	pageutil(0);
    $('#list').click(function(event){event.preventDefault();$('#products .item').addClass('list-group-item');});
    $('#grid').click(function(event){event.preventDefault();$('#products .item').removeClass('list-group-item');$('#products .item').addClass('grid-group-item');});
  });
  //分页
  function pageutil(page) {
      var pricemax = $("#country11").val();
      var brandId = $("#interval input[name=brandId]:checked").val();
      var typeId = $("#interval input[name=typeId]:checked").val();
	  $("#products").html("");
	  $("#lim").html("");
	  $.ajax({
		  url: "/user/findCar"
		  , method: "GET"
		  , async: true
		  , data: {
		  	    "page":page,
			    "limit":6,
                "page":page,
				"car.brand":brandId,
				"pricemax":pricemax,
			  	"car.type":typeId
		  }
		  , success: function (result) {
		  	 for (var i=0;i<result.data.length;i++) {
		  	 	var h = result.data[i].picture.url;    //查询图片url
		  	 	var imgLoc = 'http://localhost:8080/'+h;
				var ht= '<div class="item  col-xs-4 col-lg-4">' +
				'<div class="thumbnail">' +
				'<a href="#" data-toggle="modal" onclick="showCar('+result.data[i].car.id+')" data-target="#myModal6"><img class="group list-group-image" style="height: 300px;width: 400px;" src="'+imgLoc+'"></a>' +
				'<div class="table-text">' +
				'<h4 ><span class="spancarname"/>'+result.data[i].car.name+'</h4>' +
				'<p class="gridViewPrice hide">' +
				'<span class="rupee-lac" />' +
				'</p>'+
				'<div class="other-details">' +
				'<span class="rupee-lac slprice">' +result.data[i].car.price+'</span>'+
				'<div class="clearfix"></div>' +
				'<div class="clearfix"></div>' +
				'<p class="listing-item-kms"><span>'+result.data[i].car.releasetime+'</span></p>' +
				'<p class="listing-item-area"><span class="cityname">'+result.data[i].brand.name+'</span></p>' +
				'<p class="text-light-grey deliverytext"></p>' +
				'</div>' +
				'<div class="clearfix"></div>' +
				'<div class="list-form">' +
				'<div class="phone-info">' +
				'<form action="used_cars.html" method="post">' +
				'<input type="text" class="phone" placeholder="Phone" required="">' +
				'</form>' +
				'</div>' +
				'<div class="get-one"><a href="used_cars.html">  购 买  </a><a href="used_cars.html"></a></div>' +
				'<div class="clearfix"></div>' +
				'</div>' +
				'</div>' +
				'</div>'+
				'</div>';
				 $("#products").prepend(ht);
			}
			  var page=(result.count+6-1)/6;
			  if(page<=1){
				  page=1;
			  }
			  var li = '<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>'
			  for (var i=1;i<=page;i++){
				  if(page==i){
					  li+='<li class="active"><a href="javascript:;" onclick="pageutil('+i+')">'+i+'</a></li>'
				  }else {
					  li+='<li><a href="javascript:;" onclick="pageutil('+i+')">'+i+'</a></li>'
				  }
			  }
			  li+='<li><a href="javascript:;" aria-label="Next"><span aria-hidden="true">»</span></a></li>';
			  $("#lim").append(li);
		  }
		  , error: function () {
			  alert("系统异常");
		  }
	  });

  }
</script>


</body>
</html>