<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/static/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script>
    <script th:src="@{/static/js/bootstrap.js}"></script>
</head>
<body>
<div class="cbp-spmenu-push">
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
        <h3>忘记密码</h3>
        <div class="login-inner">
            <div class="login-top">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Email</label>
                        <script type="text/javascript">
                            var t1;
                            $(function () {
                                $(".em").click(function () {
                                    var email = $.trim($('.verify').val());
                                    var isEmail = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
                                    if(email == ""){
                                        alert("邮箱不能为空");
                                    }
                                    else if(!(isEmail.test(email))){
                                        alert("邮箱格式错误");
                                    }else{
                                        $.post("/user/Verify",{"email":email},function () {//发送验证码
                                            $(".em").attr({"disabled":"disabled"});
                                            t1=setInterval(mywait, 1000);
                                        })
                                    }
                                });
                            });

                        </script>
                        <div class="col-sm-10">
                            <p class="form-control-static">email@example.com</p>
                        </div>
                        <button type="button" class="btn btn-info em">发送验证码</button>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-2 control-label">密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword" placeholder="请输入密码">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</div>
</body>
</html>