<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>修改角色信息</title>
    <link rel="stylesheet" th:href="@{/webjars/layui/2.3.0/css/layui.css}">
</head>
<body>
<div class="layui-body" style="padding-top: 100px">
    <form class="layui-form" action="" style="padding-top: 100px;">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">角色名称：</label>
                <div class="layui-input-inline">
                    <input type="text" hidden id="roleid" value="${role.roleid}" />
                    <input type="text" name="rolename" id="rolename" required  lay-verify="required" autocomplete="off" class="layui-input" value="${role.rolename}">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">添加</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
</body>
<script th:src="@{/webjars/layui/2.3.0/layui.js}"></script>
<script>
    //Demo
    layui.use(['form','layer'], function(){
        var form = layui.form;
        var layer = layui.layer;
        var $ = layui.$;

        //监听提交
        form.on('submit(formDemo)', function(data){
            $.ajax({
                url:"/updateRole.action",
                type:"post",
                data:{
                    "roleid":$("#roleid").val()
                    ,"rolename":$("#rolename").val()
                    ,"roledescription":$("#roledescription").val()
                },
                async:true,
                success:function(data){
                    if(data == 1){
                        var index = parent.layer.getFrameIndex(window.name)
                        layer.alert("修改成功",{title:"修改成功"});
                        parent.layer.close(index);
                        parent.layui.table.reload("list");
                    }else{
                        layer.alert("修改失败",{title:"修改失败"})
                    }
                },
                error:function(){
                    alert("系统异常");
                }
            })
            return false;
        });
    });
</script>
</html>