<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" th:href="@{/webjars/layui/2.3.0/css/layui.css}">
</head>
<body>
<form class="layui-form" action="">
    <input type="hidden" th:value="${roleId}" name="role" id="roleId">
    <div class="layui-form-item" >
        <div class="layui-inline" th:each="authoritie:${authorities}">
        <label class="layui-form-label" th:text="${authoritie.authority.name}">开关</label>
        <div class="layui-input-block">
            <input type="checkbox" name="switch" lay-filter="switchTest" lay-skin="switch" th:value="${authoritie.authority.id}" th:checked="${authoritie.checked}">
        </div>
        </div>
    </div>
</form>
</body>

<script th:src="@{/webjars/layui/2.3.0/layui.js}"></script>
<script>
    var $ = layui.$;
    layui.use(['element', 'layer','form'], function(){
        var element = layui.element;
        var layer = layui.layer;
        var $ = layui.$;
        var form = layui.form;

        //监听折叠
        element.on('collapse(test)', function(data){
            layer.msg('展开状态：'+ data.show);
        });

        form.on('submit(formDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });

        var chk_value = [];
        var active = {
            submit: function(){
                $('input[name="interest"]:checked').each(function(){
                    chk_value.push($(this).val());
                });
            }
        };
        form.on('switch(switchTest)', function(data){
            $.ajax({
                url:"/admin/authority",
                type:"post",
                data:{
                    "_method":"PUT",
                    "roleId":$("#roleId").val()
                    ,"authorityId":this.value
                    ,"falg":this.checked
                },
                async:true,
                success:function(data){
                    parent.layui.table.reload("list");
                },
                error:function(){
                    layer.msg("系统异常");
                }
            });
        });
    });
</script>
</html>